{% extends "layout_admin.html" %}
{% set active_page = "Dashboard" %}

{% block scripts %}
{% endblock %}

{% block content_body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Game State:</h3>

        <div class="card">
          <div class="card-body">
            {% if current_user %}
              {% if current_user.username %}
                <p>Logged in as {{ current_user.username }}</p>

                {% if current_user.wid %}
                  <p>Playing in world <a href="/world/client">{{ current_user.wid }}</a> <br/>as <a href="/town">City-state {{ current_user.iso }}</a></p>
                {% else %}
                  <p>Not in a world.</p>

                  <a href="/worlds/create" class="btn btn-danger">Create World</a>
                {% endif %}


                <a class="text-center" href="/users/logout">Logout</a>
              {% else %}

                <p><strong class="text-danger">You're not logged in.</strong> Guest id:({{ current_user.uid }})</p>

                <a class="btn btn-primary" href="/users/login">Login</a>
                <a class="btn btn-primary" href="/users/register">Register</a>
              {% endif %}
            {% endif %}
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>Game config:</p>

            <code>
              {{ conf|tojson }}
            </code>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
