{% extends "layout_admin.html" %}
{% set active_page = "Infobar" %}

{% block scripts %}
  <!-- TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
{% endblock %}

{% block styles %}
  <!-- geogine -->
  <link rel="stylesheet" type="text/css" href="/engine/style.css">
{% endblock %}

{% block content_body %}
  <div class="container">
    <select id="bid">
      <option value="">Select one</option>
      <option value="acropolis">acropolis</option>
      <option value="agora">agora</option>
      <option value="theatre">theatre</option>
      <option value="temple">temple</option>
      <option value="house">house</option>
      <option value="gymnasium">gymnasium</option>
      <option value="lumberyard">lumberyard</option>
      <option value="stonemason">stonemason</option>
      <option value="foundry">foundry</option>
      <option value="mill">mill</option>
      <option value="warehouse">warehouse</option>
      <option value="granary">granary</option>
      <option value="harbor">harbor</option>
      <option value="hoplite">hoplite</option>
    </select>

    <div id="app-gui">
      <infobar-booster ref="infobar-booster"></infobar-booster>
      <infobar-agora ref="infobar-agora"></infobar-agora>
      <infobar-acropolis ref="infobar-acropolis"></infobar-acropolis>
      <infobar-temple ref="infobar-temple"></infobar-temple>
      <infobar-gymnasium ref="infobar-gymnasium"></infobar-gymnasium>
      <infobar-theatre ref="infobar-theatre"></infobar-theatre>
      <infobar-storage ref="infobar-storage"></infobar-storage>
      <infobar-gatherer ref="infobar-gatherer"></infobar-gatherer>
      <infobar-harbor ref="infobar-harbor"></infobar-harbor>
      <infobar-hoplite ref="infobar-hoplite"></infobar-hoplite>
    </div>
  </div>

  <script type="module">
    import '/client/game/building.js';

    import '/engine/gui/infobar-header.js';

    import '/client/gui/infobar/build/booster.js';
    import '/client/gui/infobar/build/agora.js';
    import '/client/gui/infobar/build/acropolis.js';
    import '/client/gui/infobar/build/temple.js';
    import '/client/gui/infobar/build/gymnasium.js';
    import '/client/gui/infobar/build/theatre.js';
    import '/client/gui/infobar/build/storage.js';
    import '/client/gui/infobar/build/gatherer.js';
    import '/client/gui/infobar/build/harbor.js';
    import '/client/gui/infobar/hoplite.js';

    import {setup_infobar_test} from '/client/game/infobar_tests.js';

    import '/engine/mixins.js';
    import {gui} from '/engine/gui.js';
    window.gui = gui;

    if (Params['bid'])
      $("#bid").value = Params['bid'];
    
    Events.past('load_game_conf', ()=>{
      setup_infobar_test({{ town.to_dict()|tojson  }}, Params['bid'], Params['lvl']);
    });

    $("#bid").onchange = function(e) {
      window.location = '/admin/infobar?bid='+ $("#bid").value;
    }
  </script>
{% endblock %}
