{% extends "layout_game.html" %}
{% set active_page = "My Town" %}

{% block og %}
  <meta property="og:title" content="City-state of {{ town.name }} - Geopoly: Hellas" />
{% endblock %}


{% block scripts %}
  <!-- Babylon -->
  <!--<script src="https://cdn.babylonjs.com/babylon.js"></script>-->
  <script src="https://cdn.babylonjs.com/babylon.max.js"></script>
  <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
  <script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
  <script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>

  <!--<script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>-->
  <!--<script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>-->
  <!--<script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>-->
  <!--<script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>-->


  <script src="/js/vendor/pep.js"></script>

  <!-- geogine -->
  <link rel="stylesheet" type="text/css" href="/engine/style.css">

  <!-- Vendor -->
  <script defer type="text/javascript" src="/js/vendor/buzz.min.js"></script>
{% endblock %}

{% block styles %}
<style>
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #app-game {
    width: 100%;
    height: 100%;
    touch-action: none;
  }
</style>

{% endblock %}

{% block content_body %}
  <!-- babylon wrapper -->
  <canvas id="app-game" touch-action="none"></canvas>

  <!-- Vue.js gui frame -->
  <div id="app-gui">
    <town-info ref="town-info"></town-info>

    <infobar-booster ref="infobar-booster"></infobar-booster>
    <infobar-agora ref="infobar-agora"></infobar-agora>
    <infobar-acropolis ref="infobar-acropolis"></infobar-acropolis>
    <infobar-temple ref="infobar-temple"></infobar-temple>
    <infobar-gymnasium ref="infobar-gymnasium"></infobar-gymnasium>
    <infobar-theatre ref="infobar-theatre"></infobar-theatre>
    <infobar-storage ref="infobar-storage"></infobar-storage>
    <infobar-harbor ref="infobar-harbor"></infobar-harbor>

<!--<flash ref="flash"></flash>
    <chat-gui room-id="global" id="game-global-chat" ref="global-chat"></chat-gui>
    <dialog-settings @close="quit('dialog-settings')" ref="dialog-settings"></dialog-settings>
 -->
  </div>

  <!-- static gui frame -->
  <div id="static-gui">
    <div id="debug-coordinate"></div>
  </div>

  {% if conf['client']['transpiled'] %}
    <script defer type="text/javascript" src="/js/geopoly.min.js?ver={{ver}}"></script>
  {% else %}
    <script defer type="module">
      import {default as geopoly} from '/client/geopoly.js';
      window.geopoly = geopoly;
    </script>
  {% endif %}

  <!-- app init -->
  <script>
    window.onload = function() {
      geopoly.init_town({{ conf|tojson }}, {{ get_user().to_dict()|tojson }}, '', {{ world.to_dict()|tojson }}, {{ town.to_dict()|tojson }}, {{ heroes|tojson }});

      Events.fire('window_onload', []);
    }
  </script>

{% endblock %}
