{% extends "layout_game.html" %}
{% set active_page = "Gathering" %}

{% block scripts %}
  <!-- geogine -->
  <link rel="stylesheet" type="text/css" href="/engine/style.css">

  <!-- Vendor -->
  <script defer type="text/javascript" src="/js/vendor/buzz.min.js"></script>
{% endblock %}

{% block styles %}
<style>
</style>

{% endblock %}

{% block content_body %}
  <!-- iso canvas wrapper -->
  <div class="container text-center" style="margin-top: 70px">
    <h1 class="text-white font-brand" style="z-index: 1000">Conurbation of {{ town.name }}

      {% if current_user.admin %}
      <a href="/town/edit" target="_blank" class="chk-circle chk-lg d-inline-block border border-dark bg-info text-white">
        <i class="ra ra-icon-edit"></i>
      </a>
      {% endif %}
    </h1>

    <canvas id="app-gathering" width="900" height="500" touch-action="none"></canvas>

  </div>

  <!-- Vue.js gui frame -->
  <div id="app-gui">
    <town-info ref="town-info"></town-info>

    <infobar-booster ref="infobar-booster"></infobar-booster>
    <infobar-gatherer ref="infobar-gatherer"></infobar-gatherer>
    <infobar-storage ref="infobar-storage"></infobar-storage>
  </div>

  <!-- static gui frame -->
  <div id="static-gui">
    <div id="debug-coordinate"></div>
  </div>

  {% if conf['client']['transpiled'] %}
    <script defer type="text/javascript" src="/js/geopoly.min.js?ver={{ver}}"></script>
  {% else %}
    <script defer type="module">
      import {default as geopoly} from '/client/geopoly.js';
      window.geopoly = geopoly;
    </script>
  {% endif %}

  <!-- app init -->
  <script>
    window.onload = function() {
      geopoly.init_gathering({{ conf|tojson }}, {{ get_user().to_dict()|tojson }}, '', {{ world.to_dict()|tojson }}, {{ town.to_dict()|tojson }} );

      Events.fire('window_onload', []);
    }
  </script>

  {% if conf['client']['debug'] %}
    <script defer type="text/javascript" src="/js/test.js"></script>
  {% endif %}

{% endblock %}
