{% extends "layout.html" %}
{% set active_page = "Home" %}

{% block content %}
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Esteban API</h1>

      {% if current_user.is_authenticated %}
        <p>Welcome {{current_user.username}}!</p>

        {{ current_user}}
        <a class="btn btn-link btn-lg" href="/users/logout" role="button">Logout</a>
      {% else %}
        <h3>Admin login</h3>
        <p>You must be logged in the Doors Account website before this action.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('Users.get_auth') }}" role="button">Authenticate</a>
      {% endif %}
    </div>

  </div>
{% endblock %}
