@font-face {
  font-family: 'geo';
  src:
    url('/fonts/geo.ttf?mhhtbu') format('truetype'),
    url('/fonts/geo.woff?mhhtbu') format('woff'),
    url('/fonts/geo.svg?mhhtbu#geo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ra-"], [class*=" ra-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'geo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ra-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ra-2x {
  font-size: 2em;
}

.ra-3x {
  font-size: 3em;
}

.ra-4x {
  font-size: 4em;
}

.ra-5x {
  font-size: 5em;
}

.ra-fw {
  text-align: center;
  width: 1.28571em;
}

.ra-ul {
  list-style-type: none;
  margin-left: 2.14286em;
  padding-left: 0;
}
.ra-ul > li {
  position: relative;
}

.ra-li {
  left: -2.14286em;
  position: absolute;
  text-align: center;
  top: 0.14286em;
  width: 2.14286em;
}
.ra-li.ra-lg {
  left: -1.85714em;
}

.ra-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.ra.pull-left {
  margin-right: .3em;
}
.ra.pull-right {
  margin-left: .3em;
}

.ra-spin {
  -webkit-animation: ra-spin 2s infinite linear;
  animation: ra-spin 2s infinite linear;
}

@-webkit-keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ra-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ra-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ra-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ra-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ra-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .ra-rotate-90,
:root .ra-rotate-180,
:root .ra-rotate-270,
:root .ra-flip-horizontal,
:root .ra-flip-vertical {
  filter: none;
}

.ra-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.ra-stack-1x, .ra-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ra-stack-1x {
  line-height: inherit;
}

.ra-stack-2x {
  font-size: 2em;
}

.ra-inverse {
  color: #fff;
}




/**
 * Generated content below - do not modify
 **/

.ra-res-xp:before {
  content: "\e900";
  color: #2179af;
}
.ra-res-wood:before {
  content: "\e901";
  color: #633f0d;
}
.ra-res-time:before {
  content: "\e902";
}
.ra-res-sapphire:before {
  content: "\e903";
  color: #3799d7;
}
.ra-res-pop:before {
  content: "\e904";
}
.ra-res-marble:before {
  content: "\e905";
  color: #b5b585;
}
.ra-res-limestone:before {
  content: "\e906";
  color: #929090;
}
.ra-res-laurel:before {
  content: "\e907";
  color: #4d610f;
}
.ra-res-gold5:before {
  content: "\e908";
  color: #f9a500;
}
.ra-res-gold4:before {
  content: "\e909";
  color: #f9a500;
}
.ra-res-gold3:before {
  content: "\e90a";
  color: #f9a500;
}
.ra-res-gold2:before {
  content: "\e90b";
  color: #f9a500;
}
.ra-res-gold1:before {
  content: "\e90c";
  color: #f9a500;
}
.ra-res-food:before {
  content: "\e90d";
  color: #d29e25;
}
.ra-res-emerald:before {
  content: "\e90e";
  color: #24c315;
}
.ra-res-bronze:before {
  content: "\e90f";
  color: #be7d12;
}
.ra-panel-world:before {
  content: "\e910";
}
.ra-panel-town:before {
  content: "\e911";
}
.ra-panel-statistics:before {
  content: "\e912";
}
.ra-panel-military:before {
  content: "\e913";
}
.ra-panel-messages:before {
  content: "\e914";
}
.ra-panel-gathering:before {
  content: "\e915";
}
.ra-item-trojan:before {
  content: "\e916";
}
.ra-item-spartan:before {
  content: "\e917";
}
.ra-item-skirmisher:before {
  content: "\e918";
}
.ra-item-ship-trade:before {
  content: "\e919";
}
.ra-item-ship-galley:before {
  content: "\e91a";
}
.ra-item-ram:before {
  content: "\e91b";
}
.ra-item-hoplite:before {
  content: "\e91c";
}
.ra-item-chariot:before {
  content: "\e91d";
}
.ra-item-cavalry:before {
  content: "\e91e";
}
.ra-item-catapult:before {
  content: "\e91f";
}
.ra-item-ballista:before {
  content: "\e920";
}
.ra-item-archer:before {
  content: "\e921";
}
.ra-icon-world:before {
  content: "\e922";
}
.ra-icon-unmute:before {
  content: "\e923";
}
.ra-icon-touch:before {
  content: "\e924";
}
.ra-icon-settings:before {
  content: "\e925";
}
.ra-icon-save:before {
  content: "\e926";
}
.ra-icon-rotate:before {
  content: "\e927";
}
.ra-icon-road:before {
  content: "\e928";
}
.ra-icon-question .path1:before {
  content: "\e929";
  color: rgb(0, 0, 0);
}
.ra-icon-question .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ra-icon-question .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ra-icon-play:before {
  content: "\e92c";
}
.ra-icon-pause:before {
  content: "\e92d";
}
.ra-icon-paint:before {
  content: "\e92e";
}
.ra-icon-mute:before {
  content: "\e92f";
}
.ra-icon-layers:before {
  content: "\e930";
}
.ra-icon-info:before {
  content: "\e931";
}
.ra-icon-exit:before {
  content: "\e932";
}
.ra-icon-edit:before {
  content: "\e933";
}
.ra-icon-drag:before {
  content: "\e934";
}
.ra-icon-delete:before {
  content: "\e935";
}
.ra-icon-dashboard:before {
  content: "\e936";
}
.ra-icon-cube:before {
  content: "\e937";
}
.ra-icon-chat:before {
  content: "\e938";
}
.ra-icon-cancel:before {
  content: "\e939";
}
.ra-icon-build:before {
  content: "\e93a";
}
.ra-icon-arrow-up:before {
  content: "\e93b";
}
.ra-icon-arrow-right:before {
  content: "\e93c";
}
.ra-icon-arrow-left:before {
  content: "\e93d";
}
.ra-icon-arrow-down:before {
  content: "\e93e";
}
.ra-icon-annex:before {
  content: "\e93f";
}
