{% extends "layout_game.html" %}
{% set active_page = "World" %}


{% block og %}
  <meta property="og:title" content="{{ world.name }} - Geopoly: Hellas" />
{% endblock %}

{% block scripts %}
  <!-- OpenLayers 5 -->
  <link rel="stylesheet" type="text/css" href="/css/ol.min.css">
  <script defer type="text/javascript" src="/js/vendor/ol.min.js"></script>
  <script defer type="text/javascript" src="/js/vendor/buzz.min.js"></script>
  <!--<script defer type="text/javascript" src="/js/vendor/ol-ext.min.js"></script>-->

  <!-- geogine -->
  <link rel="stylesheet" type="text/css" href="/engine/style.css">

  <!-- Vendor -->
  <script defer type="text/javascript" src="/js/vendor/buzz.min.js"></script>
{% endblock %}



{% block content_body %}
  <!-- OL wrapper -->
  <div id="app-map" class="map" tabindex="0"></div>

  <!-- Vue.js gui frame -->
  <div id="app-gui">
    <flash ref="flash"></flash>
    <chat-gui room-id="global" id="game-global-chat" ref="global-chat"></chat-gui>

    <town-info ref="town-info"></town-info>
  </div>

  <!-- static gui frame -->
  <div id="static-gui">
    <div id="debug-coordinate"></div>
  </div>

  <!-- native GUI templating -->
  <div style="display: none;">
    <div id="app-popup" title="Welcome to OpenLayers"></div>
  </div>


  <!-- app init -->
  <script type="module">
    import {default as init_world} from '/client/worldmap.js';

    window.onload = function() {
      init_world({{ conf|tojson }}, {{ get_user().to_dict()|tojson }}, '', {{ world.to_dict()|tojson }}, {{ towns|tojson }}, {{ heroes|tojson }});

      Events.fire('window_onload', []);
    }
  </script>

  {% if conf['client']['debug'] %}
    <script defer type="text/javascript" src="/js/test.js"></script>
  {% endif %}

{% endblock %}
