{% extends "layout_game.html" %}
{% set active_page = "World" %}

{% block scripts %}
{% endblock %}

{% block content_body %}
  <div class="container" style="margin-top:80px">

    <div class="card card-paper">
      <div class="card-header">
        <h1>Create new world</h1>
      </div>
      <div class="card-body">

        <p>You can play Geopoly alone by creating a new world. Or you can join an existing world by visiting its invite link. You can also invite others to your own world.</p>

        <form method="POST" action="/worlds">
          <button type="submit" class="btn btn-danger">Create world!</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}