{% extends "layout_game.html" %}
{% set active_page = "Messages" %}

{% block scripts %}
{% endblock %}

{% block og %}
  <meta property="og:title" content="{{ world.name }} - Geopoly: Hellas" />
{% endblock %}


{% block content_body %}
  <div class="container" style="margin-top:70px">
    <h1 class="text-white font-brand text-center">
      Geopoly
    </h1>

    <div class="row">
      <div class="col">

        <div class="card card-paper mb-4 mt-4">
          <div class="card-body">
            <h3 class="font-brand">Welcome, {{ current_user.username }}</h3>

            <p>No news since last login.
              <b><a href="/users/logout" class="btn btn-link">Logout</a></b>
            </p>

            <div class="text-center">
              <a href="/town" class="btn btn-lg btn-danger border-dark">Play</a>
            </div>
          </div>
        </div>

        <div class="card card-paper mb-4 mt-4">
          <div class="card-body">
            <h3 class="font-brand">World: {{ world.name }}</h3>

            <ul>
            {% for player in players %}
              <li> <b>{{player.username}}</b> as {{ player.Town.name }}
                {% if current_user.admin %}
                <!-- <a href="/town/edit?wid={{ world.wid }}&iso={{ player.Town.iso }}" class="chk-circle d-inline-block border border-dark bg-info text-white">
                  <i class="ra ra-icon-edit"></i>
                </a>-->
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="card-footer">
            <div class="small">
              <span>World started: {{ world.created_at.ctime() }}</span><br/>
              <span>Last update: {{ world.last_update.ctime() }}</span>
            </div>

            {% if current_user.admin %}
            <a href="/world/edit?wid={{ world.wid }}" class="chk-circle chk-lg d-inline-block border border-dark bg-info text-white">
              <i class="ra ra-icon-edit"></i>
            </a>
            {% endif %}

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card card-paper mb-4 mt-4">
          <div class="card-body">
            <h3 class="font-brand">Invite others</h3>

            <p>Send this link to your friends and they can play in the same world as you!</p>

            <strong>Invite link:</strong>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button onclick="regen()" class="btn btn-outline-secondary" type="button">Regenerate</button>
              </div>

              <input type="text" onclick="this.select();" id="invurl" class="form-control" placeholder="" readonly>
            </div>
          </div>
        </div>

        <div class="card card-paper mb-4 mt-4">
          <div class="card-body">
            <h3 class="font-brand">Join our discord</h3>

            <p>Join our Discord server at <a href="https://discord.gg/UsNxTZ9">discord.gg/UsNxTZ9</a></p>
          </div>
        </div>


      </div>
    </div>
  </div>

  <script type="text/javascript">
    function setinvlink(invl) {
      console.log($("#invurl"))
      $("#invurl").value = window.location.protocol + "//" + window.location.host + "/worlds/join/"+invl;
    }

    function regen() {
      fetch('/api/worlds/invlink', {
        method: 'PATCH',
        body: new FormData()
      }).then((resp)=>resp.json()).then(({link})=>{
        setinvlink(link);
      });
    }

    window.onload = function() {
      setinvlink('{{ world.invlink }}');
    };
  </script>
{% endblock %}